<header class="bg-white shadow-lg">
    <nav class="container mx-auto flex flex-col lg:flex-row justify-between items-center py-3">
        <ul class="flex items-center">
            <li class="mr-6">
                <h1 class="text-3xl font-semibold">Tennis buddies</h1>
            </li>
        </ul>
        <ul class="flex flex-col lg:flex-row text-primary font-semibold">
            <li><a class="px-5 py-3 hover:bg-secondary hover:shadow-md" href="/src/top6.html">Top 6</a></li>
            <li><a class="px-5 py-3 hover:bg-secondary hover:shadow-md" href="#/src/quisom.html">Qui som</a>
            </li>
        </ul>
    </nav>
</header>